.bash_history
.bash_logout
.bashrc
.cache/
.kiauh.ini
.local/
.moonraker_database/
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
gcode_files/
kiauh-backups/
kiauh/
klipper/
*.bkp
klipper_config/mainsail.cfg
klipper_config/moonraker.conf
klipper_config/webcam.txt
klipper_logs/
mainsail/
mjpg-streamer/
moonraker/
